.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

/*Root*/
:root {
  --accent: #00b3fe;
}

body {
  background-color: #020820 !important;
  background-image: radial-gradient(rgb(87, 87, 87) 6%, transparent 0);
  background-size: 15px 15px;
}

p {
  font-size: 13px;
  text-align: justify;
}

.btn {
  font-size: 13px !important;
  padding: 7px 40px !important;
  background-color: var(--accent) !important;
  color: #ffffff !important;
  font-weight: 500 !important;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1) !important;
}

.btn:hover,
.btn:focus {
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
	transform: translateY(-2px);
	background: #000;
	color:#020820 !important;
}
@media screen and (max-width:767px) {
  .btn {
    padding: 5px 20px !important;
  }
}
/*Navbar*/
.navbar .navbar-toggler {
  padding: 8px 10px;
  color: var(--bs-navbar-color);
  border: 1px solid #fff;
  border-radius: 50%;
}

.navbar .navbar-toggler .navbar-toggler-icon {
  width: 1.1em;
  height: 1.1em;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
  border-color: var(--accent) ;
}

.navbar .navbar-brand {
  padding-top: 15px;
}
.navbar .navbar-brand img {
  object-fit: scale-down;
  width: 20%;
  height: 40px;
}

.navbar .dropdown-menu {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar .nav-link,
.navbar .dropdown-menu .dropdown-item,
footer .nav-link {
  font-size: 11px;
  font-weight: 500;
  margin-left: 7px;
  color: #ffffff!important;
  transition: all 0.5s ease-in-out;
}

.navbar .nav-link.active,
.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .dropdown-menu .dropdown-item.active,
.navbar .dropdown-menu .dropdown-item:hover,
.navbar .dropdown-menu .dropdown-item:focus,
footer .nav-link:hover,
footer .nav-link:focus {
  color: var(--accent) !important;
  background-color: transparent;
}

.navbar .nav-link.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border: 0;
  border-style: solid; 
  border-width: 0 0 0.18em 0.18em;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  width: 0.45em;
  border-radius: 0.12em;
}  
@media screen and (max-width: 992px) {
  .navbar .navbar-nav {
    margin-top: 20px;
    padding: 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}	

/*Hero carousel section + mini slider*/
.hero-carousel .carousel-caption {
  bottom: 25%;
  top: 25%;
  margin: auto 0;
  z-index: 10;
}

.hero-carousel .carousel-indicators {
  bottom: 60%;
  transform: rotate(90deg);
}

.hero-carousel .carousel-indicators,
.slider-section .carousel-indicators {
  right: 30px;
  left: revert;
  padding: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.hero-carousel .carousel-indicators::before,
.slider-section .carousel-indicators::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 37px;
  border-radius: 150px;
  background-color: #fff;
  opacity: 0.1;
  margin-top: -14px;
  padding: 0 45px;
}
.hero-carousel .carousel-indicators [data-bs-target],
.slider-section .carousel-indicators [data-bs-target] {
  margin-right: 5px;
  margin-left: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  opacity: 1;
  border: 1px solid transparent;
  margin-top: 1px;
  z-index: 5;
}

.hero-carousel .carousel-indicators .active,
.slider-section .carousel-indicators .active {
  background-color:var(--accent);
  background-clip:content-box;
  border:1 solid var(--accent);
  background-color: var(--accent);
  background-clip: content-box;
  padding: 4px;
  border: 1px solid var(--accent);
  margin-top: -4px;
  width: 7px;
  height: 7px;
} 

.hero-carousel .carousel-item img {
  width: 100%;
}

.hero-carousel .carousel-caption h6 {
  margin: 0.5rem 0;
}

.hero-carousel .carousel-caption .line {
  height: 4px;
  border:1px solid var(--accent);
  background-color: var(--accent);
  width: 15%;
  margin-top: 0.5rem;
} 

@media screen and (max-width: 767px) {
  .hero-carousel .carousel-caption {
    bottom: 0 !important;
    position: relative;
    text-align: center !important;
    left: 0;
    right: 0;
    padding: 2.25rem 0;
  }
  .hero-carousel .carousel-caption .line {
    margin-right: auto;
    margin-left: auto;
    width: 30%;
  }
  .hero-carousel .carousel-item img {
    width: 100%;
    background-color: #000;
  }
}

/* About-section*/
.about-section {
  background-image: url(../images/about-bg.webp);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

/* Book section */
.book-section canvas {
  display: block;
  vertical-align: bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  object-fit: cover;
}

.book-section h6 {
  color: #bc252e;
}

.book-section .row {
  z-index: 1;
}

.book-section .row img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

/*Book store */
.book-store-section {
  background-color: #171d2b;
}
.book-store-section .get-book-col {
  border-right: 1px solid #565656;
}
.book-store-section .get-book-col h3{
  text-align: justify;
}
.book-store-section .get-book-col span h2{
  line-height: 0.5;
}
.book-store-section svg {
  width: 110px;
  height: 60px;
  object-fit: contain;
  margin: auto;
  display: block;
  transition: all 0.5s ease-in-out;
}

.book-store-section a:hover svg {
  transform: scale(1.1);
}

@media screen and (max-width:767px) {
  .book-store-section .get-book-col {
    border-right:none;
    margin-bottom: 30px;
  }
  .book-store-section .get-book-col::after {
    content: "";
    width: 15%;
    height: 1px;
    background-color: #565656;
    position: absolute;
    left: 42%;
    margin-top: 4px;
  }
  .book-store-section .get-book-col h3{
    text-align: center;
  }
  .book-store-section .get-book-col span {
    vertical-align: text-bottom;
  }
  .book-store-section .get-book-col span h2{
    display: inline;
  }
  .book-store-section svg {
    margin-bottom: 20px;
  }
}

@media screen and (max-width:991px) {
  .book-store-section svg {
    width: 100px;
    height: 40px;
  }
}

/*Author Section*/
.author-section .author-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author-section::after {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #151515;
  opacity: 0.9;
  z-index: -1;
}
.author-section img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-right: 15px;
}
.author-section .author-section-text {
  padding-left: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width:767px) {
  .author-section {
    padding-bottom: 3rem;
  }
  .author-section img {
   padding-bottom: 15px;
   padding-right: 0;
  }
  .author-section .author-section-text {
    padding-left: 0;
  }
}


/*slider section*/
.slider-section {
  background-color: #2c367e;
  padding: 60px 0;
}

.slider-section .slider-col-left {
  padding-right: 0;
}

.slider-section .slider-col-right {
  padding-left: 0;
}

.slider-section img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: bottom;
}

.slider-section .carousel-item {
  height: 500px;
}

.slider-section .carousel-item .carousel-caption {
  bottom: 15%;
  top: 15%;
}
.slider-section .carousel-item .carousel-caption p {
  font-size: 13px;
  text-align: justify;
}

.slider-section .carousel-indicators {
  bottom: 30px;
}

@media screen and (max-width:767px) {
  .slider-section {
    padding: 50px 0;
  }

  .slider-section .slider-col-left {
    padding-right: 12px;
  }
  
  .slider-section .slider-col-right {
    padding-left: 12px;
  }
  .slider-section img {
    height: 300px;
  }
  .slider-section .carousel-item,
  .slider-section .carousel-item img {
    height: 450px;
  }
  .slider-section .carousel-item .carousel-caption {
    top:3%;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .slider-section img {
    height: 400px;
  }
  .slider-section .carousel-item {
    height: 400px;
  }
  .slider-section .carousel-item .carousel-caption {
    top:3%;
  }
}

/*story section*/
.story-section .container {
  margin-right: 0;
}

.story-section .story-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  object-position: top;
}

.story-section .story-text {
  position: relative;
  z-index: 2;
  padding-top: 80px;
  padding-bottom: 80px;
}

.story-section .story-text::before {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* z-index: -1; */
  background: #fff;
  transform-origin: bottom left;
  -ms-transform: skew(-20deg, 0deg);
  -webkit-transform: skew(-20deg, 0deg);
  transform: skew(-20deg, 0deg);
}

@media screen and (max-width:767px) {
  .story-section {
    padding-bottom: 3rem;
  }
  .story-section .container {
    margin-right: auto;
  }
  .story-section .story-img {
    position: relative;
  }
  .story-section .story-text::before {
    display: none;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .story-section .container {
    margin-right: auto;
  }
}

/*Footer*/
footer p{
  font-size: 11px;
  font-weight: 500;
}

footer .social a {
  padding: 4px 9px;
  border-radius: 50%;
  background:rgba(61, 69, 98, 0.3);
} 

footer .social a svg {
  vertical-align: inherit;
  transition: all 0.2s ease-in-out;
}

footer .social a:hover svg{
  transform: scale(1.2);
}

footer #social-icon path {
  fill: #fff;
}

/*Additional*/
/*  PRE LOADER  */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #000000;
}

.spinner {
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;
}

.spinner::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -15px;
  margin-left: -23px;
  border-radius: 50%;
  border: 1px solid #000;
  border-top-color: var(--accent);
  animation: spinner 0.9s linear infinite;
}

@keyframes spinner {
  to {
      transform: rotate(360deg);
  }
}

/*scroll-top*/
.scroll-top {
  border-radius: 50%;
  bottom: 28px;
  cursor: pointer;
  height: 40px;
  position: fixed;
  right: 25px;
  width: 40px;
  z-index: 27;
  background: var(--accent);
  padding: 5px;
}

.scroll-top-in {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background: transparent;
  border: 2px solid #000;
  transition: 0.3s ease-in-out
}

.scroll-top:hover .scroll-top-in,
.scroll-top:focus .scroll-top-in {
  transform: scale(1.1);
}

.scroll-top svg {
  margin: 0 auto;
  width: 15px;
  display: block;
  position: relative;
  top: 2px;
}

.not-visible {
  visibility: hidden;
  display: none;
}

.loader-spinner.addSpin {
  background: #000;
}
